{
    "clientId": "${application_id}",
    "clientSecret": "${application_key}",
    "database": "${adx_database}",
    "endpoint": "${adx_cluster_uri}",
    "tenantId": "${tenant_id}",
    "traceTableName": "OTELTraces",
    "useManagedIdentity": false,
    "useWorkloadIdentity": false
}