apiVersion: 1

contactPoints:
  - orgId: 1
    name: Contact Email Point
    receivers:
      - uid: 1
        type: email
        settings:
          addresses: "${email}"
          singleEmail: true